@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Verdana, Arial, sans-serif;
}

canvas {
    border: 0px solid;
}

#canvas-container {
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
